NEXT_PUBLIC_BACKEND_DRIVER=laravel
NEXT_PUBLIC_API_URL=http://localhost:8000
INTERNAL_BACKEND_URL=http://localhost:8000
NEXT_PUBLIC_PORTAL_URL=https://portal.inl.co.id
NEXT_PUBLIC_PORTAL_LOGIN_URL=https://portal.inl.co.id/login
NEXT_PUBLIC_TARGET_APP_ID=924b0197-31b4-4620-b15e-c037989b49a3
NEXT_PUBLIC_APP_NAME=Aplikasi e-SIH
NEXT_PUBLIC_APP_DESCRIPTION=System Highlight Report & Activity Tracking - PT Industri Nabati Lestari
NEXT_PUBLIC_APP_LOGO_URL=/app-logo.svg
NEXT_PUBLIC_PORTAL_NAME=InTes / Portal SSO
NEXT_PUBLIC_PORTAL_ACCOUNT_NAME=Portal INL

